:root{
    --blue: #0B5A6F;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: azure;
    
}

.container{
    position: relative;
    width: 100%;
}

.sidebar{
    width: 318px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-color: var(--blue);
}

.sidebar-top{
    width: 318px;
    height: 211px;
    flex-shrink: 0;
}



.navicon {
    display: inline-block;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    width: 100px; /* You can adjust the width as needed */
    /* Add any additional styles you want */
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 318px;
    background-color: #0B5A6F;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a{
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}
 

li a:hover{
    background-color: #cfe3ea5d;
    color: rgb(0, 0, 0)
}

.main{
    left: 318px;
    width: 800px;
    height: 839px;
    position:relative;

}

.main .top{
    top: 30px;
    display: inline-flex;
}

.lefticon{
    width: 45px;
    height: 41px;
    flex-shrink: 0;

}

.leftfont{
    width: 133px;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
}

.leftfont, .lefticon{
    padding-left: 20px ;
}

.right{
    box-align: right;
    right: 32px;
}

.rightuser{
    width: 169px;
    height: 27px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.righticon{
    width: 61px;
    height: 57px;
}