:root{
    --blue: #0B5A6F;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: azure;
    
}

.container{
    position: relative;
    width: 100%;
}

.sidebar{
    width: 318px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue);
}

.sidebar-top{
    width: 318px;
    height: 211px;
    flex-shrink: 0;
}

.nav{
    width: 318px;
    height: 40px;
}

.navicon {
    width: 42px;
    height: 20px;
    flex-shrink: 0;
    padding-left: 10px;
    padding-right: 5px;
    width: 171px;
    height: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px;
    display: inline-flex;
    align-items: center;
    }



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 318px;
    background-color: #0B5A6F;
    height: 100%;
    position: fixed;
    overflow: auto;
}



li a{
    display: block;
    color: #fff;
    padding: 8px ;
    text-decoration: none;
}
 

li a:hover{
    background-color: #cfe3ea5d;
    color: rgb(0, 0, 0)
}

.main{
    left: 318px;
    width: 800px;
    height: 839px;
    position:relative;

}

.main .top{
    top: 30px;
    display: inline-flex;
}

.lefticon{
    width: 45px;
    height: 41px;
    flex-shrink: 0;
    padding-top: 8px;

}

.leftfont{
    width: 133px;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}

.leftfont, .lefticon{
    padding-left: 20px ;
}
/* Define a container for the user information */
.user-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 860px;
    display: flex;
    align-items: right;
    
}

/* Define styles for the user name */
.rightuser {
    width: 169px;
    height: 27px;
    color: #000;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px; /* Add margin for spacing between user icon and user name */
}

/* Define styles for the user icon */
.righticon {
    width: 55px;
    height: 50px;
}
.title{
    left: 412px;
    text-align: center;
    color: #0B5A6F;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

.display-info{
    position: absolute;
    display: flex;
    left: 59px;
    top: 160px;
    width: 517px;
    height: 245px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 10px;
    padding-top:  10px;
}

.display-info .info-list{
    list-style-type: none;
    margin: 0;
    
    width: 318px;
    background-color: #ffffff;
    position: relative;
    text-align: justify;
    line-height: 50px;
}

.Status{
    display: inline-flex;
    text-align: center;
    position: relative;
    width: 115px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(210, 214, 25, 0.28);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.status-info{
    text-align: center;
    left: 3px;
    right: 3px;
    color: #FF0101;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom-info{
    top: 483px;
    left: 57px;
    width: 753px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #718E96;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    
}
.textbottom{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;

}
.number{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400; 
    border-radius: 10px;
    line-height: normal;
    
}

.button{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    flex-shrink: 0;
    text-align:right;
    max-width: 80px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #AAD4E1;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #fff;
}

.button:hover{
    background-color: burlywood;
    color: #016fff;
}

.button:active{
    background-color: darkcyan;
    color: black;
}

.button-info{
    text-align: center;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.bottom2-info{
    top: 561px;
    left: 57px;
    bottom: 226px;
    width: 753px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #5397A9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
}

.info-box{
    position: absolute;
    left: 57px;
    width: 753px;
    height: 50px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
    padding-right: 10px;
}

.comp{
    top: 483px;
    background: #718E96;

}

.intv{
    top: 561px;
    background: #5397A9;

}

/*.bottom{
    display: inline;
    top : 561px !important;
    position: absolute;
    display: flex;
    padding-left: 57px;
}
*/

.appl-info{
    left: 375px;
    top: 462px;
    max-width: 753px;
    display: flex;
    position: absolute;
}

.comp-appl{
    width: 753px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #718E96;
    position: relative;
    align-items: center;
}

.comp-appl .text{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
}

.comp-appl .num{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding-left: 40px; 
    border-radius: 10px;
    line-height: normal;
    padding-right: 200px; 
    padding-left: 200px;
}

.intv-schedule{
    width: 753px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #5397A9;
}

.intv-schedule .text{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
}

.intv-schedule .num{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding-left: 40px; 
    border-radius: 10px;
    line-height: normal;
    padding-right: 200px; 
    padding-left: 200px;
}